---
import { getEntry, render } from "astro:content";
import Markdown from "@components/misc/Markdown.astro";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const aboutPost = await getEntry("spec", "about");

if (!aboutPost) {
  throw new Error("About page content not found");
}

const { Content } = await render(aboutPost);
---
<MainGridLayout title="ржЖржорж╛ржжрзЗрж░ рж╕ржорзНржкрж░рзНржХрзЗ" description="ржЦрзЛрж▓рж╛ ржкрж╛рждрж╛ рж╕ржорзНржкрж░рзНржХрзЗ ржЬрж╛ржирзБржи">
  <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
    <div class="card-base z-10 px-9 py-6 relative w-full">
      <h1 class="text-3xl font-bold text-green-800 mb-4">ЁЯМ┐ ржЦрзЛрж▓рж╛ ржкрж╛рждрж╛ рж╕ржорзНржкрж░рзНржХрзЗ</h1>
      <p class="mb-4 text-lg text-gray-700">
        ржЦрзЛрж▓рж╛ ржкрж╛рждрж╛ ржПржХржЯрж┐ ржбрж┐ржЬрж┐ржЯрж╛рж▓ ржкрзНрж▓рзНржпрж╛ржЯржлрж░рзНржо, ржпрзЗржЦрж╛ржирзЗ рж╕рж░ржХрж╛рж░рзА ржкрж░рж┐рж╖рзЗржмрж╛, ржорж┐ржбрж┐ржпрж╝рж╛, ржПржмржВ рж╢рзЗржЦрж╛рж░ рж╕рзБржпрзЛржЧ тАУ рж╕ржм ржХрж┐ржЫрзБ ржПржХрждрзНрж░рж┐рждред ржЖржорж░рж╛ ржорж╛ржирзБрж╖рзЗрж░ рж╣рж╛рждрзЗ рждржерзНржп ржУ рж╕рзЗржмрж╛ ржкрзМржБржЫрзЗ ржжрзЗржУржпрж╝рж╛рж░ ржЬржирзНржп ржХрж╛ржЬ ржХрж░рж┐, ржмрж┐рж╢рзЗрж╖ржд ржЧрзНрж░рж╛ржорзАржг ржУ ржЖржзрж╛-рж╢рж╣рж░ ржПрж▓рж╛ржХрж╛ржпрж╝ред
      </p>
      <p class="mb-4 text-gray-700">
        ржЖржорж╛ржжрзЗрж░ ржнрж┐рж╢ржи рж╣рж▓ ржбрж┐ржЬрж┐ржЯрж╛рж▓ ржЗржирзНржбрж┐ржпрж╝рж╛-ржХрзЗ ржмрж╛рж╕рзНрждржмрж╛ржпрж╝рж┐ржд ржХрж░рждрзЗ рж╕рж╣рж╛ржпрж╝рждрж╛ ржХрж░рж╛ ржПржмржВ рждржерзНржпржкрзНрж░ржпрзБржХрзНрждрж┐ржХрзЗ ржорж╛ржирзБрж╖рзЗрж░ рж╕рзЗржмрж╛ржпрж╝ ржмрзНржпржмрж╣рж╛рж░ ржХрж░рж╛ред YouTube, рж╕рж╛ржВржмрж╛ржжрж┐ржХрждрж╛, ржлрзНрж░рж┐рж▓рзНржпрж╛ржирзНрж╕рж┐ржВ, ржПржмржВ рж╕рж░ржХрж╛рж░рж┐ рж╕рзЗржмрж╛ тАФ рж╕ржм ржПржХ ржЫрж╛рждрж╛рж░ ржирж┐ржЪрзЗред
      </p>
      <Markdown class="mt-4">
        <Content />
      </Markdown>
    </div>
  </div>
</MainGridLayout>