---
import ArchivePanel from "@components/ArchivePanel.svelte";
import MainGridLayout from "@layouts/MainGridLayout.astro";
import { getSortedPosts } from "../utils/content-utils";

// Fetch posts (blog, news, updates)
const sortedPosts = await getSortedPosts();
---

<MainGridLayout title="ржЦрзЛрж▓рж╛ ржкрж╛рждрж╛ | рж╕рзЗржмрж╛, ржЧрж▓рзНржк ржУ рж╕ржВржпрзЛржЧ">
  <section class="p-6">
    <h1 class="text-3xl font-bold text-green-800 mb-4">ЁЯУЪ ржЦрзЛрж▓рж╛ ржкрж╛рждрж╛ ржЖрж░рзНржХрж╛ржЗржн</h1>
    <p class="text-lg text-gray-700 mb-6">
      ржПржЦрж╛ржирзЗ ржкрж╛ржмрзЗржи рж╕ржорж╕рзНржд ржкрзБрж░рзЛржирзЛ ржХржиржЯрзЗржирзНржЯ, ржШрзЛрж╖ржгрж╛, ржмрзНрж▓ржЧ, ржУ ржбрж┐ржЬрж┐ржЯрж╛рж▓ рж╕рзЗржмрж╛рж░ ржЖржкржбрзЗржЯ тАФ ржПржХ ржЬрж╛рзЯржЧрж╛рзЯред
    </p>
    <ArchivePanel sortedPosts={sortedPosts} client:only="svelte" />
  </section>
</MainGridLayout>
